<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/cores 106/Desktop/Portal/pom.xml">
        <classes>
            <class name="com.example.portal.Tests.SignUpPageTest"/>
            <class name="com.example.portal.Tests.LoginPageTest"/>
            <class name="com.example.portal.Tests.DepartmentTest"/>
        </classes>

    </test>
</suite>